body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
.route {
	color: #888;
	padding: 4px;
	font-size: larger;
}
.errors {
	display:inline-block;
	background-color: yellow;
}
.stats {
	display:inline-block;
}